<% if @switch.present? %>
  <% @switch.each do |e| %>
    <%= link_to e.label, view_beacons_path(e.id) if e.label.present? %>
    <% if e.label.present? %>
      <% @count = 0 %>
      <% @lost = 0 %>
      <% @seq_no = 0 %>
      ,<% Packet.where(["created_at >= ? and created_at <= ?", e.created_at, e.created_at+30]).each do |p| %>
         <% @count+=1 %>
         <% @lost +=1 if @seq_no+1 != p.sequence_no %>
         <% @seq_no = p.sequence_no %>
      <% end %>
      <%= @count %>, ロスト:<%if 1 >= @lost %>
        <%= 0 %>
      <% else %>
        <font style="color:red;">
          <%= @lost-1 %>
        </font>
      <% end %><br />
    <% end %>
  <% end %>
<% else %>
  <%= '"id","bdaddress","advdata","rssi","created_at"' %><br />
  <% @packets.each do |e| %>
    <%= e.id %>,"<%= e.bdaddress %>","<%= e.advdata %>",<%= e.rssi %>,"<%= e.created_at %>"<br />
  <% end %>
<% end %>
