<meta name="viewport" content="width=device-width, initial-scale=2.0, maximum-scale=1.3, user-scalable=0;">
<% if @switch.present? %>
  Status: <%= 1 == @switch.on ? "on" : "off" %>
  Label: <%= @switch.label %>
<% end %>

<%= form_tag('/write_database/switch', method: :post) do %>
  <%= hidden_field_tag "switch", value: 1 %>
  <%= text_field_tag "label" %>
  <%= submit_tag "ON/OFF"  %>
<% end %>

<% if @packet.present? %>
  <%= @packet.created_at.strftime("%Y-%m-%d %H:%M:%S") %>
<% end %>
<%= button_to "更新", action: :switch %>
